<div *ngIf="dataLoaded==true" class="container py-4 my-4 mx-auto d-flex flex-column">
  <div class="header">
      <div class="row r1">
          <div class="col-md-9 abc">
              <h1>{{car.modelYear}} - {{ car.brandName }}</h1>
          </div>
          <div class="col-md-3 text-right pqr"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
          <p class="text-right para">Araç Detayları Aşağıdadır</p>
      </div>
  </div>
  <div class="container-body mt-4">
      <div class="row r3">
          <div class="col-md-5 p-5 klo">
              <ul>
                  <li>{{ car.carName }}</li>
                  <li>{{ car.brandName }}</li>
                  <li>{{ car.colorName }}</li>
                  <li>{{ car.modelYear }}</li>
                  <li>{{ car.dailyPrice | currency}}</li>
                  <li>{{ car.description }}</li>
              </ul>
          </div>

          <div id="carouselExampleControls" class="carousel slide col-md-6" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div *ngFor="let carImage of carImages" [class]="getImagesClass(carImage)"> 
                  <img class="d-block" [src]="getImagePath(carImage)"
                  width="100%" style="min-height: 400px;"> 
              </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
      </div>
  </div>
  <div class="footer d-flex flex-column mt-5">
    <form [formGroup]="addFormGroup" class="container">
        <div class="row">
            <div class="col-md-5">
                <label for="rentDate"><h4>Kiralama Tarihi</h4></label>
            </div>
            <div class="col-md-5">
                <label for="returnDate"><h4>Dönüş Tarihi</h4></label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <input type="text" id="rentDate" placeholder="Ay/Gün/Yıl"
                class="form-control bg-danger" formControlName="rentDate"
                bsDatepicker [(ngModel)]="rentDate"
                [bsConfig]="{ isAnimated: true, containerClass: 'theme-blue' }">
            </div>
            <div class="col-md-5">
                <input type="text" id="returnDate" placeholder="Ay/Gün/Yıl"
                class="form-control bg-danger" formControlName="returnDate"
                bsDatepicker [(ngModel)]="returnDate"
                [bsConfig]="{ isAnimated: true, containerClass: 'theme-blue' }">
            </div>
            <div class="col-md-2">
                <button (click)="addToCart()" type="button" class="btn btn-primary" >Rezerve Et</button>
            </div>
        </div>
      </form>
  </div>
</div>
